include mixin/pug/variables
include mixin/pug/mixins

doctype html
html(lang="ru")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")

    title=pageTitle

    block styles
      link(rel="stylesheet", href="css/main.css")

  body
    .wrapper
      .swiper-container
        .swiper-wrapper
          .swiper-slide
            img(src="img/image.png").image
          .swiper-slide
            img(src="img/image.png").image
          .swiper-slide
            img(src="img/image.png").image

        //- .swiper-pagination

        .swiper-button-prev
        .swiper-button-next

        .swiper-scrollbar
      .swiper-pagination

    block scripts
      script(src="js/modules/jquery.min.js")
      script(src="js/modules/swiper-bundle.min.js")

      script(src="js/main.dev.js")