include mixin/pug/variables
include mixin/pug/mixins

doctype html
html(lang="ru")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")

    title=pageTitle

    block styles
      link(rel="stylesheet", href="css/modules/normalize.css")
      link(rel="stylesheet", href="css/modules/swiper-bundle.min.css")
      link(rel="stylesheet", href="css/modules/jquery.fancybox.min.css")

      link(rel="stylesheet", href="css/main.css")

  body
    .shadow
    .wrapper
      .menu-drop
        .menu-drop-title 
          span Меню
        .menu-drop-search
          form
            input(type="text", placeholder="Что ищете?")
            button.menu-drop-search-btn Найти
      .menu-btn

      .blocks
        .block
        .block
        .block
        .block
        .block
        .block
        .block
        .block
        .block
        .block
        .block
        .block
        .block
        .block
        .block
        .block
        .block
        .block
        .block
        .block
        .block
        .block
        .block
        .block
        .block
        .block
        .block
        .block
        .block
        .block
        .block
        .block
        .block
        .block
        .block
        .block
        .block
        .block
        .block
        .block
        .block
        .block
        .block
        .block
        .block
        .block
        .block
        .block
        .block
        .block

    block scripts
      script(src="js/modules/jquery.min.js")
      script(src="js/modules/swiper-bundle.min.js")
      script(src="js/modules/jquery.fancybox.min.js")

      script(src="js/main.dev.js")