@import "mixin/css/variables";
@import "mixin/css/mixins";

body {
  background-color: white;
  overflow-x: hidden;

  .wrapper {
    min-width: 320px;
    min-height: 100vh;

    .header {
      position: relative;

      &-background {
        position: absolute;
        z-index: -1;
        width: 1920px;
        top: 0;
        left: calc((1920px - 100%) / -2);
      }

      &-top {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        padding: 30px 70px 0 70px;

        &-logo {
          width: 270px;
          flex-shrink: 0;
        }

        &-contact {
          display: inline-block;
          text-align: right;
          color: #333333;

          &-number {
            font-size: 24px;
            line-height: 30px;
            font-weight: 800;
          }

          &-text {
            font-size: 13px;
            line-height: 30px;
          }
        }
      }

      .inner {
        max-width: 1250px;
        margin: 0 auto;
        padding: 0 15px 100px 15px;

        .header-title {
          margin-top: 139px;
          max-width: 533px;
          font-size: 56px;
          line-height: 64px;
          font-weight: bold;

          &-part1,
          &-part2 {
            display: inline-block;

            span.red {
              color: $red;
            }
          }
        }

        .header-btn {
          margin-top: 122px;
          max-width: 203px;
          height: 51px;
          background-color: $red;
          border-radius: 6px;
          transition: $duration;
          padding: 0 15px;

          &:hover {
            background-color: red;
          }

          a {
            color: white;
            line-height: 51px;
            text-align: center;
          }
        }
      }
    }

    .main {
      .info-top {
        min-height: 288px;
        max-width: 1250px;
        padding: 60px 15px;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        align-items: flex-start;

        &-item {
          flex-basis: 240px;

          &:not(:last-of-type) {
            margin-right: 25px;
          }
          
          &-image {
            width: 100px;
            margin: 0 auto;
          }

          &-text {
            font-size: 20px;
            line-height: 24px;
            text-align: center;
            margin-top: 20px;
            white-space: pre-line;
          }
        }
      }

      .cards {
        position: relative;

        &::before {
          position: absolute;
          content: "";
          display: block;
          background-color: #F8F8F8;
          top: 0;
          bottom: 0;
          left: 0;
          right: 0;
          z-index: -1;
        }

        .sticker {
          position: absolute;
          top: 90px;
          right: 86px;
          width: 230px;
          height: 67px;
          background-color: white;
          box-shadow: 0px 3px 30px rgba(135, 151, 155, 0.25);
          border-radius: 6px;
          transition-property: box-shadow, opacity;
          transition-duration: $duration;

          &.non-active {
            opacity: 0;
            pointer-events: none;
          }
          
          &:hover {
            box-shadow: 0px 3px 30px rgba(45, 255, 45, 0.452);

            .sticker-image {
              transform: scale(1.15);
            }
          }

          &-link {
            white-space: pre-line;
            padding-top: 14px;
            padding-left: 30px;
            font-size: 16px;
            line-height: 20px;
          }

          &-image {
            width: 90px;
            position: absolute;
            bottom: 0;
            right: 0;
            pointer-events: none;
            transition: $duration;
            transform-origin: right bottom;
          }
        }

        .inner {
          min-height: 977px;
          max-width: 1250px;
          padding: 0 15px;
          margin: 0 auto;
          border: 1px solid black;
        }
      }

      .tabs {
        position: relative;

        &::before {
          content: "";
          display: block;
          height: 1px;
          background-color: #E9E9E9;
          position: absolute;
          z-index: -1;
          left: 0;
          right: 0;
          top: 103px;
        }

        .inner {
          min-height: 485px;
          max-width: 1250px;
          padding: 0 15px;
          margin: 0 auto;
          border: 1px solid black;
        }
      }

      .info-bottom {
        position: relative;

        &::before {
          position: absolute;
          content: "";
          display: block;
          background-color: #F8F8F8;
          top: 0;
          bottom: 0;
          left: 0;
          right: 0;
          z-index: -1;
        }

        .inner {
          min-height: 380px;
          max-width: 1250px;
          padding: 40px 15px 70px 15px;
          margin: 0 auto;
          color: #333333;

          .info-bottom-title {
            text-align: center;
            font-size: 36px;
            line-height: 53px;
            font-weight: bold;
            margin-bottom: 40px;
          }

          .info-bottom-items {
            display: flex;
            justify-content: space-evenly;
            align-items: flex-start;

            &-item {
              flex-basis: 205px;

              &:not(:last-of-type) {
                margin-right: 25px;
              }

              &-image {
                width: 100px;
                margin: 0 auto;
              }

              &-text {
                text-align: center;
                white-space: pre-line;
                font-size: 20px;
                line-height: 26px;
                margin-top: 25px;
              }
            }
          }
        }
      }

      .form {
        min-height: 645px;
        max-width: 1250px;
        padding: 0 15px;
        margin: 0 auto;
        border: 1px solid black;
      }
    }

    .footer {
      position: relative;

      &::before {
        position: absolute;
        content: "";
        display: block;
        background-color: #333333;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        z-index: -1;
      }

      .inner {
        min-height: 80px;
        max-width: 1250px;
        padding: 20px 15px 14px 15px;
        margin: 0 auto;
        font-size: 12px;

        .footer-top {
          margin-bottom: 10px;
          color: #F2F2F2;
          line-height: 14px;
        }

        .footer-bottom {
          display: flex;
          justify-content: space-between;
          align-items: center;
          color: white;
          line-height: 22px;

          &-right a {
            color: white;
            display: inline;
            text-decoration: underline;
            border-radius: 3px;
            transition: $duration;

            &:hover {
              background-color: white;
              color: #333333;
            }
          }
        }
      }
    }

    /*main {

      .m-inner {

        .main {

          &-block1 {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 60px 0;

            &-item {
              max-width: 240px;

              &-image {
                margin: 0 auto;
                margin-bottom: 20px;
              }

              &-text {
                text-align: center;
                font-size: 20px;
                line-height: 24px;
              }
            }
          }

          &-block2 {
            position: relative;
            background-color: #F8F8F8;
            padding-top: 50px;
            padding-bottom: 60px;

            &::before,
            &::after {
              content: "";
              display: block;
              background-color: #F8F8F8;
              width: calc(100% * 2);
              position: absolute;
              top: 0;
              bottom: 0;
            }

            &::before {
              left: -200%;
            }

            &::after {
              right: -200%;
            }

            &-sticky {
              position: absolute;
              z-index: 100;
              top: 90px;
              right: -264px;
              width: 230px;
              box-shadow: 0px 3px 30px rgba(135, 151, 155, 0.25);
              border-radius: 6px;
              padding: 14px 0;
              padding-left: 30px;

              &-text {
                width: 86px;
                height: 40px;
                font-size: 16px;
                line-height: 20px;
              }

              img {
                width: 90px;
                position: absolute;
                bottom: 0;
                right: 0;
              }
            }

            &-title {
              font-size: 40px;
              line-height: 50px;
              margin-bottom: 37px;
            }

            .block2-item {
              position: relative;
              width: 590px;
              min-height: 370px;
              background-color: white;
              box-shadow: 0px 3px 30px rgba(135, 151, 155, 0.15);
              border-radius: 8px;
              padding: 20px 60px 30px 60px;

              &-title {
                position: relative;
                z-index: 10;
                text-align: center;
                font-size: 28px;
                line-height: 50px;
                font-weight: bold;
                margin-bottom: 5px;

                span {
                  &:last-of-type {
                    color: #7F94A8;
                    margin-left: 20px;
                  }
                }
              }

              &-line {
                height: 1px;
                max-width: 470px;
                background-color: #C8C8C8;
                opacity: 0.3;
              }

              &-content {
                position: relative;
                z-index: 10;
                min-height: 219px;
                padding: 25px 20px 28px 20px;
                display: flex;
                justify-content: space-around;
                align-items: flex-start;

                &-left {
                  margin-right: 86px;
                }

                &-left,
                &-right {
                  .content-item {
                    &:not(:last-of-type) {
                      margin-bottom: 15px;
                    }

                    &-top {
                      margin-bottom: 5px;
                      font-size: 18px;
                      line-height: 22px;
                    }

                    &-bottom {
                      color: #999999;
                      font-size: 14px;
                      line-height: 18px;
                    }
                  }
                }
              }

              &-btn {
                position: relative;
                z-index: 10;
                text-align: center;

                a {
                  line-height: 45px;
                  display: inline-block;
                  font-size: 14px;
                  color: white;
                  width: 183px;
                  background-color: $red;
                  transition: $duration;
                  border-radius: 6px;

                  &:hover {
                    background-color: red;
                  }
                }
              }

              &-image {
                position: absolute;
                z-index: 5;
              }
            }

            &-top,
            &-bottom {
              display: flex;
              justify-content: space-between;

              &-left {
                margin-right: 40px;
              }
            }

            &-top {
              margin-bottom: 40px;

              &-left {
                .block2-item-image {
                  right: 0;
                  bottom: 0;
                }
              }

              &-right {
                .block2-item-image {
                  left: 0;
                  bottom: 0;
                }
              }
            }

            &-bottom {
              .block2-item {
                &-title {
                  span {
                    &:last-of-type {
                      margin-left: 15px;
                    }
                  }
                }
              }

              &-left {
                .block2-item-image {
                  right: 0;
                  top: 0;
                }
              }

              &-right {
                .block2-item-image {
                  left: 0;
                  top: 0;
                }
              }
            }
          }

          &-tabs {
            padding-top: 60px;

            &-panel {
              display: flex;
              align-items: flex-start;

              &-item {
                color: #C8C8C8;
                font-size: 20px;
                line-height: 29px;
                white-space: nowrap;
                transition: $duration;
                cursor: pointer;

                &:not(:last-of-type) {
                  margin-right: 40px;
                }

                &::after {
                  content: "";
                  display: block;
                  margin-top: 12px;
                  background-color: #C8C8C8;
                  height: 4px;
                  transition: $duration;
                }

                &.active {
                  color: #449099;

                  &::after {
                    background-color: #449099;
                  }
                }
              }
            }

            &-blocks {
              overflow: hidden;
              min-height: 381px;

              &-wrapper {
                display: flex;
                align-items: flex-start;
                flex-wrap: nowrap;
                transition: 1s;

                &-item {
                  width: 100%;
                  flex-shrink: 0;

                  &[data-info="card"] {
                    padding-left: 50px;
                    padding-top: 50px;
                    padding-bottom: 104px;
                    position: relative;

                    .content {
                      &-image {
                        width: 560px;
                        position: absolute;
                        left: 530px;
                        top: 21px;
                      }

                      &-title {
                        color: #333333;
                        font-size: 22px;
                        line-height: 28px;
                        font-weight: bold;
                        white-space: pre-line;
                        margin-bottom: 20px;
                      }

                      &-block {
                        &-item {
                          position: relative;
                          font-size: 18px;
                          line-height: 27px;
                          color: #373A36;
                          padding-left: 18px;

                          &:not(:last-of-type) {
                            margin-bottom: 15px;
                          }

                          &::before {
                            content: "";
                            display: inline-block;
                            background-color: #373A36;
                            width: 6px;
                            height: 6px;
                            border-radius: 3px;
                            position: absolute;
                            left: 0;
                            top: 10.5px;
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    }*/
  }
}