@import "mixin/css/global";
@import "mixin/css/variables";

@keyframes moving {
  100% {
    transform: translateX(100%);
  }
}

body {
  background-color: whitesmoke;

  .wrapper {
    background-color: white;
    margin: 0 auto;
    padding: 15px;
    max-width: 768px;
    min-width: 320px;
    min-height: 100vh;

    .panel {
      margin: 15px;
      border: 1px solid black;
      background-color: lightgreen;
      width: 70px;
      overflow: hidden;
      transition-duration: 0.25s;

      .mover {
        display: flex;
        width: 200%;

        .text {
          padding-right: 10px;
          flex-grow: 1;
          line-height: 50px;
          animation: moving 0.75s linear infinite;
          transition-duration: 0.25s;

          &:last-of-type {
            position: relative;
            right: 100%;
          }
        }
      }

      &:hover {
        width: 300px;

        .mover {
          .text {
            line-height: 100px;
          }
        }
      }
    }
  }
}