@import "mixin/css/variables";
@import "mixin/css/fonts";

html {
  box-sizing: border-box;
  color: $black;
  font-family: $font;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  outline: none;
  margin: 0;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
}

svg {
  max-width: 100%;
}

a {
  display: block;
  height: 100%;
  text-decoration: none;
  color: $black;
}

ul {
  list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

input::-ms-clear {
  display: none;
  height: 0;
  width: 0;
}