include variables
include mixins

doctype html
html(lang="ru")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")

    title=PAGE.title

    block styles
      +cssModule("normalize")
      +cssNormalize

      +cssModule("swiper-bundle.min")

      +cssMain

  body
    block body

    block scripts
      +jsModule("jquery.min")
      +jsModule("swiper-bundle.min")
      +jsModule("jquery.inputmask.min")

      +jsMain