@mixin max-width($max-width) {
  @media (max-width: $max-width) {
    @content;
  }
}

@mixin user-select-none {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none !important;
  user-select: none;
}
